.element__button {
    margin: 22px 0 0 0;
    border: none;
    padding: 0;
    width: 22px;
    height: 19px;
    background-image: url(../../../images/Vector3.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    align-self: baseline;
    flex-basis: 30%;
    opacity: 1;
    transition: .2s;
    cursor: pointer;
}

.element__button:hover {
    opacity: .5;
}